.frame1{
    margin: -199px 0 0 403px;
}

.frame2{
    margin: -57px 0 0px 248px;
}

.frame3{
    margin: -295px 0 0 53px;
}
.traço-bd{
    width: 67px;
    height: 4px;
    background-color: #7BCBDE;
    border-radius: 2px;
    margin: 23px 0px 6px 7px; 
} 

.title-sobre{
    color: #134C63;
}