.text-noticia {
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    color: rgba(121, 202, 222, 1);
}

.text-title {
    font-size: 48px;
    line-height: 56px;
    color: rgba(19, 76, 99, 1);
    font-weight: 800;
}

.text-box-noticia {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: rgba(116, 116, 116, 1);
}
.data-box-noticia{
    background-color: rgba(250, 181, 44, 1);
    color:rgba(255, 255, 255, 1);
    border-radius: 13px 0px 0px 0px;
    font-size: 13px;
    font-weight: 800;
    line-height: 34px;
    width: 84px;
}