.header-container{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 6rem;
    align-items: center;
}

.menu-header{
    display: flex;
    align-items: center;
}

.menu-header ul{
    display: flex;
    align-items: center;
}
.menu-header ul li{
    margin: 13px; 
}
.menu-header ul li{
   color: #2E6175;
}

.logo-cbcenf-header{
    background: url(../../assets/images/cbcenf.png) no-repeat center center;
    width: 330px;
    height: 65px;
}

.logo-cofen-header{
    background: url(../../assets/images/cofen.png) no-repeat center center;
    width: 330px;
    height: 65px;
}