.title-programacao {
    color: #134C63;
}

.mini-title {
    color: #7BCBDE;
}

.color- {
    color: #134C63;
}

.ative-border {
    border-bottom: 5px solid rgba(121, 202, 222, 1);
    transform: scale(1.1);
    transition: 0.1s ease-in
}

.active-transition{
    transform: scale(1.1);
    transition: 0.2s ease-in
}