@import "../../assets/mixins/breakpoint.scss";

.LogoCbcenf {
    background: url("../../assets/images/cbcenf-mobile.png") no-repeat;
    width: 128px;
    height: 89px;

}

.text-footer {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: rgba(17, 75, 98, 1);
}

@include bp(md) {
    .LogoCbcenf {
        background: url("../../assets/images/cbcenf-desktop.png") no-repeat;
        width: 246.76px;
        height: 55px;

    }
}

@include bp(md) {
    .text-footer {
        font-size: 20px;
        line-height: 36px;
        font-weight: 600;
        color: rgba(17, 75, 98, 1);
    }
}