.menu-footer {
    width: 14rem;
    color: #2E6175;
}

.logo-cbcenf-footer{
    background: url(../../assets/images/cbcenf.png) no-repeat center center;
    width: 330px;
    height: 65px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 8rem;
    align-items: center;
}
.logo-cofenn-footer{
    background: url(../../assets/images/Frame-footer.png) no-repeat center center;
    width:188px;
    height: 65px;
}
.logo-cofen-footer{
    background: url(../../assets/images/Frame-footer.png) no-repeat center center;
    width: 188px;
    height: 65px;
}

.logos-baixo-footer{
    display: flex;
}
.rodape{
    width: 100%;
    height: 1rem;
    background-color: #FAB52C;
}

//!===== mobile =====!//

@media (max-width: 740px){
.logo-cbcenf-footer{
    display: none;
}

.menu-footer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}
.menu-footer a{
    width: 14rem;
}

.footer-container{
    display: block;
    height: 13rem;
}
.logo-cbcenf-mobile{
    background: url(../../assets/images/cbcenf-mobile.png) no-repeat center center;
    width: 140px;
    height: 6rem;
    margin: 0 20px 0 0;
}
.logos-baixo-footer{
    justify-content: center;
    margin-top: 1rem;
}
}
