@import "../../assets/mixins/breakpoint.scss";

.button-header {
    background-color: rgba(250, 181, 43, 1);
    padding: .75rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    display: inline-block;
    border-radius: .5rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    width: 100%;
}

@include bp(md) {
    .button-header {
        width: auto;
    }
}

.height-banner3 {
    height: 360px;

}

@include bp(md) {
    .height-banner3 {
        height: 541px;

    }
}

.banner-title {
    color: rgba(250, 181, 44, 1);
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
}

.banner-text {
    color: rgba(19, 76, 99, 1);
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
}


.img1 {
    background: url("../../assets/images/banner-mobile1.png") no-repeat;
    background-size: cover;

}

@include bp(md) {
    .img1 {
        background: url("../../assets/images/banner-home.71fbde33.png") center no-repeat;

    }
}